venv
Experiments/CVPR_Evaluation_Video_Data/*
Experiments/output/*
#models/*

# Python
__pycache__/
*.py[cod]
*$py.class
*.so
.Python

# macOS
.DS_Store
**/.DS_Store


data/
output/
#models/


CVPR*

venv*

archives

# Credentials
credentials/